body {
  margin:0;
  padding:0;
  background:#a7a37e;

}

.container {
  background-color: #c7d0d5;
  border-radius: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 5%;
  color:#333D46;
  height: 700px;
}


.top {
  max-width: 700px;
  margin: 0px auto;
}

.Me {
  display: block;
  border-radius: 100%;
  width: 180px;
  -webkit-transition:-webkit-transform 2s;
  transition:transform 2s;
}

.Me:hover {
  display: block;
  width: 180px;
  -webkit-transform:rotate(360deg);
  transform:rotate(360deg);
}

.Name {

width: 50%;
float: right;
clear: left;
margin-top: -170px;

}

.FullName h1 {
  position: relative
  border: 10px;
  transition-property: background-color, color;
  transition-duration: 2s;
  transition-timing-function: ease;
  color: #333D46;
  background-color: none;
}

.FullName h1:hover {
  position: relative
  border: 10px;
  transition-property: background-color, color;
  transition-duration: 2s;
  transition-timing-function: ease;
  color:#efecca;
  background-color: #002f2f;

}


}
h1 {
  font-family: 'Limelight';
  font-size: 30px;
  font-color: black;
}

h3 {
  font-family: 'Coustard', serif;
}


.MyKids h1{
/*   max-width: 700px;
height: 20px;
margin: 0px auto; */
width: 50%;
margin-left: 400px;
padding: 40px;


}

#Luke img, #Sophia img {
  width: 150px;
}

.LukeSophia li {
  float: left;
  position: relative;
  margin-left: -20px;
  display: inline-block;
  min-width: 40px;
  width: 50px;
  overflow: hidden;
  padding: 20px;
  background-color: #ff7148;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;

}

.LukeSophia li:hover {
  width: 150px;
  background-color: black;}
  #Luke {background: blue;}
  #Sophia {background: pink;}
}


.PreferredDrink {
  max-width: 700px;
  margin: 0px auto;
}


.wine li {
  display: inline-block;
}


.wine #FullGlass {

  -webkit-animation: FullGlassa 3s ease;
}
#FullGlass, #HalfFullGlass, #EmptyGlass {
  width: 16%;
  height:
}
@-webkit-keyframes FullGlassa {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.wine #HalfFullGlass {

  -webkit-animation: HalfFullGlassa 3s 3s ease;
}

@-webkit-keyframes HalfFullGlassa {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.wine #EmptyGlass {

  -webkit-animation: EmptyGlassa 3s 6s ease;
}

@-webkit-keyframes EmptyGlassa {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


.PreferredDrink {
  margin-bottom: -20px;
}
.PreferredDrink h1 {
  width: 50%;
  margin-left: 420px;
  margin-top: -200px;
}
